@model ElectionSystem_RWA.Models.President
@{
    ViewBag.Title = "Winner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:green">Winner of president election : @Model.CandidateName</h2>

